@charset "UTF-8";
* {
            margin: 0;
            padding: 0;
        }
        div#area {
            font: 18pt normal arial;
            background: rgb(28, 202, 28);
            color: white;
            width: 200px;
            height: 200px;
            line-height: 200px;
            text-align: center;
        }