@charset "UTF-8";
body {
            background-color: rgb(14, 63, 70);
            color: white;
            font: normal 15pt arial;
        }
        h1 {
            text-align: center;
        }
        p {
            text-indent: 30px;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(31, 31, 218);
            border-radius: 7px;
            width: auto 10px;
            
            
        }