*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #ff69b4;
    color: #fff;
    padding: 30px 0;
}
header h1{
    margin: 0;
    text-align: center;
}   
header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
header nav ul li{
    margin: 0 2%;
    a{
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
    }
    a:hover{
        text-decoration: underline;
    }
}

.container{
    width: 80%;
    margin: 0 auto;
}
#home{
    text-align: center;
    padding: 50px 0;
}
h2{
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
.servico-card{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-group{
    margin-bottom: 15px;
}

